{% extends 'base.html' %}
{% set active_page = "admin/login" %}
{% block title %} Login {% endblock %}

{% block content %}
    <div class="jumbotron">
      <div class="container-xl">
        <h1 class="display-4">Login</h1>
        <hr class="my-4">
      </div>
    </div>

    {% for msg in get_flashed_messages() %}
      <p>{{msg}}</p>
    {% endfor %}

    <div align="center">
      <form class="form-signin" action="#" method="POST">
          <div>
            <input style="width: 300px" class="form-control" type="text"  name="user" placeholder="Informe seu usuário" required autofocus/>
            <input style="width: 300px" class="form-control" type="password" name="pwd" placeholder="Informe sua senha" required autofocus/>
          </div>
          <br>
        <button style="width: 200px" class="btn btn-lg btn-primary btn-block" type="submit"> Entrar </button>
      </form>
    </div>
    
{% endblock %}