{% extends "base.html" %}
{% block title %} ouvICEx - Estatísticas {% endblock %}
{% block content %}
 <style>
 
   .column {
    float: left;
    padding: 10px;
    height: 100%; /* Should be removed. Only for demonstration */
  }

  </style>


<div class="jumbotron">
	<div class="container-xl">
    		<h1 class="display-4">Estatísticas</h1>
    		<hr class="my-4">
    		<form action="#" method="post" id="graph_form">
			<p class="lead">Escolha uma opção de estatística:</p>
			<div class="row">
					<div class="column">
						<div class="col-md-14 mb-4">
							<input type="radio" id="real" name="est" value="real">
	  						<label for="real">Total de denúncias realizadas</label>
	  						<input type="radio" id="apur" name="est" value="apur">
	  						<label for="apur">Total de denúncias apuradas</label><br>
					  	</div>
					</div>
			</div>		
			
			<hr class="my-4">
			<p class="lead">Filtrar por:</p>
			<div class="row">
				<div class="column">
					<div class="col-md-14 mb-4">
						<input type="radio" id="per" name="filtro" value="per">
  						<label for="per">Período</label>
  						<input type="radio" id="depto" name="filtro" value="depto">
  						<label for="depto">Departamento</label>
						<input type="radio" id="cont" name="filtro" value="cont">
  						<label for="cont">Contexto</label>
  						<input type="radio" id="tipo" name="filtro" value="tipo">
  						<label for="tipo">Tipo</label>
				  	</div>
				</div>			
			</div>	
			
			<hr class="my-4">
			<div class="row">
				<div class="column">
					<div class="col-md-14 mb-4">
						<p><input type="submit" name="btn_plot" id="sctplot" value="Exibir scatter"></p>
						<p><input type="submit" name="btn_plot" id="hstplot" value="Exibir histograma"></p>
						<img src="{{grafico}}" alt="ERRO: GRÁFICO NÃO ENCONTRADO">
				  	</div>
				</div>				
			</div>	
		</form>
    	</div>
</div>

<p> {{tipo}} </p>
{% endblock %}
