{% extends "base.html" %}
{% block title %} ouvICEx - Estatísticas {% endblock %}
{% block content %}

<div class="jumbotron">
	<div class="container-xl">
    		<h1 class="display-4">Estatísticas</h1>
    		<hr class="my-4">
		<p class="lead">Escolha uma opção de estatística:</p>
		<hr class="my-4">
		<p class="lead">Escolha o filtro:</p>
    	</div>
</div>


    {% with messages = get_flashed_messages() %}
        {% if messages %}
           {% for msg in messages %}
               <p>{{msg}}</p>
           {% endfor %}
        {% endif %}
    {% endwith %}

    {% for item in values %}
        <p>post: {{item.post}}, 
           date: {{item.date}},
           author_dep: {{item.author_dep}},
           ref_dep: {{item.ref_dep}},
           context_t: {{item.context_t}},
           situation_t: {{item.situation_t}},</p>
    {% endfor %}
<form action="#" method="post" id="graph_form">
	<p><input type="submit" name="btn_plot" id="sctplot" value="Exibir scatter"></p>
	<p><input type="submit" name="btn_plot" id="hstplot" value="Exibir histograma"></p>
</form>

<!-- <img src="{{grafico_png}}" alt="ERRO: GRÁFICO NÃO ENCONTRADO"> -->
<img src="{{grafico}}" alt="ERRO: GRÁFICO NÃO ENCONTRADO">
<p> {{tipo}} </p>
{% endblock %}
