<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        {% set navigationBar = [
            ('/', 'home', 'Home'),
            ('/history', 'history', 'Histórico'),
            ('/analyses', 'analyses', 'Estatísticas'),
            ('/form', 'form', 'Envie sua reclamação')
        ] -%}

        {% set loggedInNavigationBar = [
            ('/admin', 'admin', 'Admin'),
            ('/admin/logout', 'admin/logout', 'Logout')
        ] -%}
        
        {% set active_page = active_page|default('home') -%}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">ouvICEx</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul id="navigation" class="navbar-nav">
                {% for href, id, caption in navigationBar %}
                    <li{% if id == active_page %} class="nav-item active"{% endif
                    %}><a class="nav-link" href="{{ href|e }}">{{ caption|e }} <span class="sr-only">(current)</span></a>
                    </li>
                {% endfor %}

                {% if 'user' in session: %}
                    {% for href, id, caption in loggedInNavigationBar %}
                        <li{% if id == active_page %} class="nav-item active"{% endif
                        %}><a class="nav-link" href="{{ href|e }}">{{ caption|e }} <span class="sr-only">(current)</span></a>
                        </li>
                    {% endfor %}
                {% endif %}

                {% if not 'user' in session: %}
                    <li class="{{ 'active' if active_page == 'admin/login' else '' }}">
                        <a class="nav-link" href="admin/login">Login <span class="sr-only">(current)</span></a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        
        {% block content %}
        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>
