{% extends "base.html" %}
{% block title %} Form Page{% endblock %}
{% block content %}
   {% with messages = get_flashed_messages() %}
   {% if messages %}
       {% for msg in messages %}
           <p>{{msg}}</p>
       {% endfor %}
   {% endif %}
   {% endwith %}
<form action="#" method="post" id="posts_form">
   <p>Post:</p>
   <p><textarea form="posts_form" id="post" name="post" rows="5" cols="100" required></textarea></p>
   <p>Seu departamento:</p>
   <p>
    <select id="author_dep" name="author_dep" required>
        <option value="DCC">Ciência da Computação</option>
        <option value="DEST">Estatística</option>
        <option value="DF">Física</option>
        <option value="DMAT">Matemática</option>
        <option value="DQ">Química</option>
        <option value="outro">Outro</option>
    </select>
   </p> 
   <p>Departamento citado:</p>
   <p>
    <select id="ref_dep" name="ref_dep" required>
        <option value="DCC">Ciência da Computação</option>
        <option value="DEST">Estatística</option>
        <option value="DF">Física</option>
        <option value="DMAT">Matemática</option>
        <option value="DQ">Química</option>
    </select>
   </p>
   <p>Contexto:</p>
   <p><input type="text" id="context_t" name="context_t" required></p>
   <p>Situação:</p>
   <p><input type="text" id="situation_t" name="situation_t" required></p>
   <p><input type="submit" value="Enviar"></p>
</form>
{% endblock %}
