{% extends "base.html" %}
{% set active_page = "form" %}
{% block title %} Form Page{% endblock %}
{% block content %}
   {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <div class="alert alert-success" align="center" role="alert">
                    <p>{{msg}}</p>
                </div>
            {% endfor %}
        {% endif %}
   {% endwith %}
<script>
    $(function() {
        $('#identity').click(function() {
            var cb1 = $('#identity').is(':checked');
            $('#name').prop('disabled', !cb1); 
            $('#is_checked').prop('value', cb1);
        });
    });
</script>
<div class="jumbotron">
    <div class="container-xl">
        <h1 class="display-4">Envie sua reclamação!</h1>
    <hr class="my-4">
    </div>
</div>
<div class="container-xl">
    <form action="#" method="post" id="posts_form">
        <div class="form-group">
            <label class="control-label lead">Comentário:</label>
            <div>
                <textarea class="form-control" form="posts_form" id="post" name="post" maxlength="1000" required></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label lead">Seu departamento:</label>
            <div>
                <select class="form-control" id="author_dep" name="author_dep" required>
                    <option value="DCC">Ciência da Computação</option>
                    <option value="DEST">Estatística</option>
                    <option value="DF">Física</option>
                    <option value="DMAT">Matemática</option>
                    <option value="DQ">Química</option>
                    <option value="outro">Outro</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label lead">Departamento citado:</label>
            <div>
                <select class="form-control" id="ref_dep" name="ref_dep" required>
                    <option value="DCC">Ciência da Computação</option>
                    <option value="DEST">Estatística</option>
                    <option value="DF">Física</option>
                    <option value="DMAT">Matemática</option>
                    <option value="DQ">Química</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label lead">Contexto:</label>
            <div>
                <select class="form-control" id="context_t" name="context_t" required>
                    <option value="sugestão">Sugestão</option>
                    <option value="reclamação">Reclamação</option>
                    <optgroup label="Denúncia">
                        <option value="assédio moral">Assédio moral</option>
                        <option value="assédio sexual">Assédio sexual</option>
                        <option value="LGBTfobia">LGBTfobia</option>
                        <option value="Machismo">Machismo</option>
                        <option value="Racismo">Racismo</option>
                        <option value="Outro">Outro</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="form-group">
            <input class="control-label" type="checkbox" id="identity" name="identity">
            <label class="control-label lead" for="identity"> Eu gostaria de me identificar: </label>
            <input type="hidden" id="is_checked" name="is_checked">
        </div>
        <div class="form-group">
            <input class="control-label lead" type="text" id="name" name="name" maxlength="100" disabled required/>
        </div>
        <div class="form-group">        
            <div>
                <input class="btn btn-outline-secondary" type="submit" value="Enviar">
            </div>
        </div>
     </form>
</div>
{% endblock %}
