{% extends "base.html" %}
{% block title %}Historico de todas as postagens{% endblock %}
{% block content %}
<form action="#" method="post">
  <p>Departamento denunciado:</p>
  <p><input type="text" name="dpt" /></p>
  <p><input type="submit" value="submit" /></p>
</form>

  {% for item in values %}
    <p>{{item.post}}</p>
    <p>{{item.date}}</p>
    <p>{{item.author_dep}}</p>
    <p>{{item.ref_dep}}</p>
    <p>{{item.context_t}}</p>
    <p>{{item.situation_t}}</p>
  {% endfor %}
{% endblock %}
