{% extends "base.html" %}
{% block title %}Historico de todas as postagens{% endblock %}
{% block content %}
  <form action="#" method="post">

    <action="/action_page.php">
    <p> Escolha um departamento do ICEx:</p>
    <select id="dpt" name="dpt">
      <option value="DCC">DCC</option>
      <option value="DMAT">DMAT</option>
      <option value="DF">DF</option>
      <option value="DEST">DEST</option>
    </select>

      <input type="checkbox" name="limpar" value="Bike">
      <label for="limpar"> Limpar filtros</label><br>
      <input type="submit" value="submit">
      <input type="reset">
    </form>

  {% for item in values %}
    <p>post: {{item.post}},
       date: {{item.date}},
       author_dep: {{item.author_dep}},
       ref_dep: {{item.ref_dep}},
       context_t: {{item.context_t}},
       situation_t: {{item.situation_t}},</p>
  {% endfor %}
{% endblock %}
