{% extends "base.html" %}
{% block title %}Historico de todas as postagens{% endblock %}
{% block content %}
  <form action="#" method="post">

    <action="/action_page.php">
    <p> Departamento referenciado:</p>
    <select id="ref_dpt" name="ref_dpt">
      <option value="0">Please select</option>
      {% for i in ref %}
        <option value="{{i[0]}}">{{i[0]}}</option>
      {% endfor %}
    </select>

    <p> Departamento do autor:</p>
    <select id="author_dpt" name="author_dpt">
      <option value="0">Please select</option>
      {% for i in author %}
        <option value="{{i[0]}}">{{i[0]}}</option>
      {% endfor %}
    </select>

    <input type="submit" value="submit">

    <input type="reset" value="reset">
    </form>

  {% for item in values %}
    <p>post: {{item.post}},
       date: {{item.date}},
       author_dep: {{item.author_dep}},
       ref_dep: {{item.ref_dep}},
       context_t: {{item.context_t}},
       situation_t: {{item.situation_t}},</p>
  {% endfor %}
{% endblock %}
