{% extends "base.html" %}
{% block title %}Historico de todas as postagens{% endblock %}
{% block content %}
<meta name="historico" content="width=device-width, initial-scale=1">
  <style>
    * {
      box-sizing: border-box;
    }

  .column {
    float: left;
    padding: 10px;
    height: 100%; /* Should be removed. Only for demonstration */
  }

  .left {
    width: 20%;
  }

  .right {
    width: 80%;
  }

  /* Clear floats after the columns */
  .row:after {
  content: "";
  display: table;
  clear: both;
  }
  </style>


  <div class="jumbotron">
  <div class="container-xl">
    <h1 class="display-4">Histórico</h1>
    <hr class="my-4">
    <p class="lead">Abaixo você consegue filtrar as postagens que deseja ver:</p>
    <div class="row">
      <form action="#" method="post">
        <action="/action_page.php">

        <div class="column">
          <div class="col-md-14 mb-4">
          <select class="form-control" id="ref_dpt" name="ref_dpt">
            <option value="0">Departamento referenciado</option>
            {% for i in ref %}
              <option value="{{i[0]}}">{{i[0]}}</option>
            {% endfor %}
          </select>
          </div>
        </div>
        <div class="column">
          <div class="col-md-12 mb-4">
          <select class="form-control" id="author_dpt" name="author_dpt">
            <option value="0">Departamento do autor</option>
            {% for i in author %}
              <option value="{{i[0]}}">{{i[0]}}</option>
            {% endfor %}
          </select>
          </div>
      </div>
      <div class="column">
          <div class="col-md-12 mb-3">
          <select class="form-control" id="context" name="context">
            <option value="0">Contexto</option>
            {% for i in context %}
              <option value="{{i[0]}}">{{i[0]}}</option>
            {% endfor %}
          </select>
          </div>
        </div>
        <div class="column">
          <div class="col-md-12 mb-3">
          <select class="form-control" id="situation" name="situation">
            <option value="0">Situação</option>
            {% for i in situation %}
              <option value="{{i[0]}}">{{i[0]}}</option>
            {% endfor %}
          </select>
          </div>
        </div>

        <div class="column">
        <input class="btn btn-outline-success" type="submit" value="Submit">
        <input class="btn btn-outline-secondary" type="reset" value="Reset">
        </div>

          </div>
        </form>
      </div>
    </div>
  </div>
        {% for item in values %}
          <p>post: {{item.post}},
             date: {{item.date}},
             author_dep: {{item.author_dep}},
             ref_dep: {{item.ref_dep}},
             context_t: {{item.context_t}},
             situation_t: {{item.situation_t}},</p>
        {% endfor %}


{% endblock %}
